body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e5f7;
    background-color: #e5e5f7;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 40px ), repeating-linear-gradient( #29292955, #292929 );
    font-family: 'Gabarito', sans-serif;
}

.all{
    width: 400px;
    height: 800px;
    background-color: #292929;
    border-radius: 12px;
    padding: 8px;
    background: rgba( 255, 255, 255, 0.2 );
    background: rgba( 41, 41, 41, 0.2 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
}

.display{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 12px;
}

span{
    font-size: 38px;
}

#calculo{
    color: rgba(48, 48, 48, 0.8);
}

#resultado{
    margin-bottom: 26px;
    color: rgba(255, 255, 255, 0.7);
}


.buttons-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    gap: 8px;
    height: 500px;
}

.btn{
    border-radius: 12px;
    border: none;
    font-size: 20px;
}

#equal-btn{
    grid-area: 5 / 3 / 5 / span 2;
}

.btn-digit{
    background: rgb(255,255,255);
    background: linear-gradient(120deg, rgba(255,255,255,0.3) 0%, rgba(224,224,224,1) 100%);
    color: #292929;
}

.btn-operator{
    background: rgb(2,52,103);
    background: linear-gradient(120deg, rgba(2,52,103,1) 0%, rgba(61,91,147,1) 100%);
    color: rgba(255, 255, 255, 0.8);
}

.btn-digit:hover{
    background: #a1b8f8;
}

.btn-operator:hover{
    background: #336699;
}